li.active{
    list-style: none;
    float: left;
    color: black;

}


li.active:hover{
    list-style: none;
    float: left;
    color: red;
}

li.enabled{
    list-style: none;
    float: left;
}
.sr-only{
    color: red;
}

.div1{
    background-color:black;
    color: red;
     
    width: 400px;
    height: 400px;

}

.div2{
    background-color: green;
}