li.active{
    list-style: none;
    float: left;
    color: black;

}


li.active:hover{
    list-style: none;
    float: left;
    color: red;
}

li.enabled{
    list-style: none;
    float: left;
}
.sr-only{
    color: red;
}

.div1{
    background-color:black;
    color: red;

    width: 400px;
    height: 400px;

}

.div2{
    background-color: green;
}





 .login-1jy9V4B1 {
    height: 24px;
    line-height: 24px;
    margin-top: 3px;
    color: #666;
    overflow: hidden
}

.login-1jy9V4B1 a {
    color: #666 !important;
}

.login-1jy9V4B1 a:hover {
    text-decoration: underline;
}

.login_icon-WIExzV-k {
    padding: 4px 0 4px 20px;
    background: url(https://x0.ifengimg.com/fe/shank/spring/spritesize.bff33ce2.png) no-repeat 0 3px;
}

.login_icon-WIExzV-k:hover {
    color: #f54343;
    text-decoration: none !important;
}

.login_in-1twGaNkr {
    color: #666;
    margin-left: 6px;
    cursor: pointer;
}

.login_in-1twGaNkr:hover {
    text-decoration: underline;
}

.register_icon-1E9PZAnU a {
    padding: 4px 0 4px 18px;
    background: url(https://x0.ifengimg.com/fe/shank/spring/register.00cce07c.gif) no-repeat 0 3px;
    color: #666 !important
}

.register_icon-1E9PZAnU a:hover {
    color: #f54343;
    text-decoration: none !important;
}

.register-2uGFT8Rr {
    margin-left: 6px;
}

.login_after-3pfBQRS2 {
    margin-top: 6px;
    font-family: microsoft yahei;
    font-size: 12px;
}

.welcome-3g1mcvgo {
    float: left;
    padding: 0 0 0 18px;
    background: url(https://x0.ifengimg.com/fe/shank/spring/spritesize.bff33ce2.png) no-repeat 0 3px;
}

.login_info-15gt-clA {
    position: relative;
    float: left;
}

.login_name-23slSiWf {
    float: left;
    width: 85px;
    color: #2b2b2b;
    text-align: right;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.login_name-23slSiWf:hover {
    color: #f54343;
}

.login_option-3saAvDNP {
    cursor: pointer;
    color: #004276;
    background: url(https://x0.ifengimg.com/fe/shank/spring/spritesize.bff33ce2.png) no-repeat;
    padding: 0 8px;
}

.up-3XUNscnI {
    background-position: 6px -298px;
}

.down-37V_xfnc {
    float: left;
    background-position: 6px -198px;
}

.login_out-3Sqvpm6v {
    float: left;
    width: 24px;
    color: #333;
    background: none;
    padding-left: 5px;
    cursor: pointer
}

.login_out-3Sqvpm6v:hover {
    color: #f54343;
}

.options-njQGPAQg {
    border: 1px solid #dedede;
    position: absolute;
    width: 84px;
    top: 16px;
    left: 0;
    background: #fff;
    padding: 0 12px;
    text-align: left;
    z-index: 99
}

.options-njQGPAQg li {
    padding: 7px 0 10px;
    background: red url(https://x0.ifengimg.com/fe/shank/spring/spritesize.bff33ce2.png) no-repeat -500px -68px
}

.options-njQGPAQg li a {
    color: #333;
}

.options-njQGPAQg li a:hover {
    color: #f54343;
    text-decoration: none;
}

.mask-3BMLJHyD {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.box-1pZSPyeN {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -260px;
    margin-top: -205px;
    height: 410px;
    width: 520px;
    background: #ccc;
    z-index: 100000;
}

.close-280M1A5o {
    cursor: pointer;
    height: 26px;
    width: 26px;
    position: absolute;
    right: -10px;
    top: -10px;
    background: url(https://x0.ifengimg.com/fe/shank/spring/close.cc5b2908.png) no-repeat center center;
    background-size: contain
}

.close-280M1A5o :hover {
    opacity: 0.8;
}

.page-1vTQpVJA {
    width: 520px;
    height: 410px;
    border: 0;
    overflow: hidden;
}


.search-2QVk7jV0 {
    width: 300px;
    float: right;
    position: relative;
    z-index: 80;
}

.select--pkM4nZE {
    position: relative;
    float: left;
    z-index: 80
}

.select--pkM4nZE ul {
    position: absolute;
    top: 25px;
    left: 0;
    width: 64px;
    border: 1px solid #dfdfdf;
    background: #fff;
    z-index: 99;
}

.select--pkM4nZE ul li {
    line-height: 24px;
    height: 24px;
    cursor: default;
}

.select--pkM4nZE ul li a {
    line-height: 24px;
    height: 24px;
    text-decoration: none;
    color: #999;
    padding: 0 9px;
    width: 47px;
    display: block;
}

.select--pkM4nZE ul li a:hover {
    text-decoration: none;
    background: rgb(231, 231, 231);
}

.checked-ccAEi6F2 {
    width: 55px;
    height: 24px;
    line-height: 24px;
    margin: 0 9px 0 0;
    padding-left: 9px;
    border: 1px solid #c7c7c7;
    background: #fff url(https://x0.ifengimg.com/fe/shank/spring/all.d23b4879.png) no-repeat 40px -28px;
    font-size: 12px;
    cursor: pointer;
    color: #bcbcbc
}

.checked-ccAEi6F2:hover {
    background: url(https://x0.ifengimg.com/fe/shank/spring/all.d23b4879.png) no-repeat 40px 2px;
}

.btn-1NI76BXl {
    width: 215px;
    height: 24px;
    background: url(https://x0.ifengimg.com/fe/shank/spring/all.d23b4879.png) no-repeat 0 -55px;
    border: 1px solid #b2b2b2;
    float: left
}

.btn-1NI76BXl:hover {
    background: url(https://x0.ifengimg.com/fe/shank/spring/all.d23b4879.png) no-repeat 0 -82px;
}

.text-ZqgX7hWC {
    float: left;
    width: 180px;
    height: 24px;
    padding: 0 0 0 9px;
    background: #fff;
    border: 0;
    color: #bcbcbc;
    font-size: 12px;
    outline: none
}

.text-ZqgX7hWC input {
    width: 180px;
    height: 24px;
    line-height: 24px;
    padding: 0 9px;
    background: #fff;
    color: #bcbcbc;
    border: 1px solid #c7c7c7;
    border-right: 0;
    border-radius: 0;
    font-size: 12px;
    outline: none;
}

.search_btn-55egvSbu {
    float: left
}

.search_btn-55egvSbu .btn-1NI76BXl {
    float: right;
    width: 35px;
    height: 26px;
    background: url(https://x0.ifengimg.com/fe/shank/spring/all.d23b4879.png) no-repeat 0 -55px;
    color: #000;
    border: 1px solid #c7c7c7;
    border-left: 0;
    font-weight: bold;
    cursor: pointer;
    text-indent: -1000px;
    outline: none;
}

.search_box-3thkJMuh {
    margin-top: 6px;
    padding: 1px 0 0 6px;
}

.search-1Y9Df02M {
    width: 378px;
    height: 24px;
    padding: 0 0 0 2px;
    position: relative;
    z-index: 80;
    margin-right: 0;
    background: url(http://p2.ifengimg.com/a/2015/0708/textSearch.gif) no-repeat 0 1px;
}

.text-2_cjBhKD {
    float: left;
    cursor: pointer
}

.text-2_cjBhKD input {
    cursor: text;
    width: 239px;
    height: 17px;
    line-height: 17px;
    padding: 1px 0 0 4px;
    margin-top: 2px;
    background: #fff;
    border: none;
    color: #646464;
    font-size: 12px;
}

.select-1-GjI1rZ {
    position: relative;
    float: left;
    z-index: 80
}

.select-1-GjI1rZ ul {
    position: absolute;
    border: 1px solid #dfdfdf;
    top: 20px;
    left: 0;
    width: 60px;
    background: #fff;
    z-index: 99;
    padding: 2px 0 8px;
}

.select-1-GjI1rZ ul li {
    padding: 0;
    float: none;
}

.select-1-GjI1rZ ul li a {
    color: #000000;
    padding-left: 13px;
    width: 32px;
    display: block;
    background: none;
    padding: 7px 14px 4px;
    cursor: pointer;
}

.select-1-GjI1rZ ul li a:hover {
    color: #f54343;
    text-decoration: none;
}

.checked-1nm3B4Rr {
    float: left;
    cursor: pointer;
    width: 46px;
    height: 18px;
    line-height: 18px;
    margin: 1px 9px 0 1px;
    padding: 1px 0 0 14px;
    border: none;
    font-size: 12px;
    color: #646464;
}

.upArrow-3PFNJ0T3 {
    background: url(https://x0.ifengimg.com/fe/shank/spring/arrowfold.af1fd884.gif) no-repeat right center;
}

.search_btn-1clDo81r {
    float: left;
    cursor: pointer;
}

.btn-2ZgLVEZU {
    width: 35px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    margin-top: 1px;
    background: url(https://x0.ifengimg.com/fe/shank/spring/spritesize.bff33ce2.png) no-repeat 0 -1700px;
    font-size: 12px;
    border: none;
}

.close-2so3OLaz {
    width: 10px;
    height: 10px;
    background: url(https://x0.ifengimg.com/fe/shank/spring/spritesize.bff33ce2.png) no-repeat -200px -1700px;
    float: right;
    margin: 6px 10px 0;
    cursor: pointer;
}

.searchBtn-1KkNNYyW {
    cursor: pointer;
    background: url(https://x0.ifengimg.com/fe/shank/spring/spritesize.bff33ce2.png) no-repeat;
    background-position: -96px 4px;
    color: #333;
    height: 24px;
    line-height: 24px;
    padding: 4px 0 4px 20px;
    font-size: 12px
}

.searchBtn-1KkNNYyW:hover {
    color: #f54343;
    text-decoration: none;
}

.box-kbJVDyI6 {
    width: 100%;
    height: 100%;
    position: relative;
}

[ifeng_ui_pc_sliders-link] {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    overflow: hidden
}

[ifeng_ui_pc_sliders-link] :hover {
    text-decoration: none;
    color: #ff0;
}

[ifeng_ui_pc_sliders-image] {
    width: 100%;
    height: 100%;
    border: 0;
}

[ifeng_ui_pc_sliders-title] {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 34px;
    background: rgba(0, 0, 0, .5);
    filter: alpha(opacity=70);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    line-height: 38px;
    padding: 0 10px;
    z-index: 10;
}

.slider-23k1pgNu {
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
}

.container-3J0fgyFB {
    overflow: hidden;
    height: 100%;
}

[ifeng_ui_pc_sliders-arrows_next] {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -15px;
    background: rgba(0, 0, 0, .5) url(https://x0.ifengimg.com/fe/shank/spring/pre.034a8b94.gif) no-repeat center center;
    cursor: pointer;
    filter: alpha(opacity=50);
    z-index: 10
}

[ifeng_ui_pc_sliders-arrows_next]:hover {
    background-color: rgba(0, 0, 0, .8);
    filter: alpha(opacity=50);
}

[ifeng_ui_pc_sliders-arrows_next='disable'] {
    display: none;
}

[ifeng_ui_pc_sliders-arrows_pre] {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left: 0;
    background: rgba(0, 0, 0, .5) url(https://x0.ifengimg.com/fe/shank/spring/next.ad3c2a64.gif) no-repeat center center;
    filter: alpha(opacity=50);
    cursor: pointer;
    z-index: 10
}

[ifeng_ui_pc_sliders-arrows_pre]:hover {
    background-color: rgba(0, 0, 0, .8);
    filter: alpha(opacity=50);
}

[ifeng_ui_pc_sliders-arrows_pre='disable'] {
    display: none;
}

[ifeng_ui_pc_sliders-dots] {
    position: absolute;
    right: 5px;
    bottom: 40px;
    height: 3px;
    line-height: 3px;
    z-index: 10;
    left: 0;
    text-align: right;
    font-size: 0;
}

.dot-3LQaHUbT {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 12px;
    height: 3px;
    background: #fff;
    margin-right: 2px;
    cursor: pointer
}

.dot-3LQaHUbT:hover {
    opacity: 0.8;
}

.current-JhT3FZKL {
    background: #2e60a7
}

.current-JhT3FZKL:hover {
    opacity: 0.8;
}

[ifeng_ui_pc_sliders-item='horizonta'] {
    float: left;
    height: 100%;
}

[ifeng_ui_pc_sliders-item='vertical'] {
    width: 100%;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset,
img {
    border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}
ol,
ul {
    list-style: none;
}
caption,
th {
    text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}
q:before,
q:after {
    content: '';
}
body {
    font-size: 12px;
    font-family: simsun, arial, helvetica, clean, sans-serif;
    background: #fff;
    color: red;
}
table {
    font-size: inherit;
    font: 100%;
}
h1 {
    font-size: 14px;
}
h2 {
    font-size: 14px;
    font-weight: normal;
}
h3 {
    font-size: 12px;
}
h4 {
    font-size: 12px;
    font-weight: normal;
}
strong {
    font-weight: bold;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:link {
    color: #004276;
}
a:visited {
    color: #004276;
}
a:hover {
    color: #ba2636;
}
a:active {
    color: #004276;
}
.clear {
    clear: both;
}
.clearfix {
    zoom: 1;
}
.clearfix:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.fl {
    float: left;
    width: 360px;
}
.fr {
    float: right;
    width: 360px;
}

.ipad_layout-I3qDeHtY {
    font-size: 12px;
    font-family: SimSun, Arial;
    margin: 0 auto;
    width: 1024px;
}

.layout-2QlrJZv- {
    position: relative;
}

.topAd0-1LS8nYje {
    width: 1000px;
    margin: 0 auto;
}

.bottomAd1-1d529209 {
    margin-top: 30px;
    overflow: hidden;
}

.header-17SnDSim {
    position: relative;
    margin: 0 auto;
    width: 1000px;
    height: 66px;
    background: #ffffff;
}

.header_l-32f-Mnny {
    float: left;
}

.header_r-xZ48gAjU {
    float: right;
}

.box_top-2GQVh74J {
    display: block;
    margin-top: 12px;
}

.jb_box-19E_oEgp {
    float: right;
    margin-right: 10px;
}

.donate_box-At4qkkDN {
    float: right;
    margin-top: 2px;
}

.login-1KJn-1AA {
    float: right
}

.login-1KJn-1AA > div {
    float: left;
}

.user-1dWP8hb2 {
    padding-top: 4px;
}

.ifeng-2crzasFQ {
    padding: 10px 0 0 9px
}

.ifeng-2crzasFQ a {
    color: #333;
    height: 16px;
    padding: 4px 0 4px 18px;
    background: url(https://x0.ifengimg.com/fe/shank/spring/ifeng.65353094.gif) no-repeat 0 4px;
}

.ifeng-2crzasFQ a:hover {
    color: #f54343;
    text-decoration: none;
}

.phtv-3mgojJK4 {
    padding: 11px 0 0 9px
}

.phtv-3mgojJK4 a {
    color: #333;
    background: url(https://x0.ifengimg.com/fe/shank/spring/phtv.1d89f4ad.gif) no-repeat 0 1px;
    display: block;
    padding-left: 20px;
    font-size: 14px;
}

.phtv-3mgojJK4 a:hover {
    color: #f54343;
    text-decoration: none;
}

.line-1kk_G6V6 {
    margin: 10px 0 0 5px;
    width: 1px;
    height: 15px;
    background: #cccccc;
}

.wljd-3YswhEVB {
    display: block;
    width: 120px;
    height: 20px;
    text-indent: -10em;
    overflow: hidden;
    z-index: 1000;
}

.sh-2SC__Jiy {
    background: url(https://x0.ifengimg.com/fe/shank/spring/wljd_1.b77059a4.jpg);
}

.jb-3V9w3_m7 {
    background: url(https://x0.ifengimg.com/fe/shank/spring/jb.cf46bc59.jpg);
}

.child-3VrjfX_s {
    background: url(https://x0.ifengimg.com/fe/shank/spring/child.e2ee594d.jpg);
}

.Logo-3LvcI1cY {
    padding: 10px 0 0 15px
}
.Logo-3LvcI1cY a {
    text-decoration: none;
}

.donate-EqQnpBmZ a {
    text-decoration: none;
}

.nav-2qn54By6 {
    width: 100%;
    background: #f54343;
}

.bgnone-2Mhg2dxw {
    width: 100%;
    background: none;
}

.ssr_nav-2nIRu5Rp {
    margin: 0 auto;
    width: 100%;
    height: 38px;
}

.navigation-NAKL1uDO {
    position: relative;
    margin: 0 auto;
    width: 1000px;
    height: 40px;
    background: #f54343 url(https://x0.ifengimg.com/fe/shank/spring/c_02.c0316afe.png) no-repeat left top
}
.navigation-NAKL1uDO li {
    display: inline-block;
    zoom: 1;
    +display: inline;
    padding: 9px 0 0 0;
    height: 29px;
    text-align: center;
    background: url(https://x0.ifengimg.com/fe/shank/spring/c_02.c0316afe.png) no-repeat right top
}
.navigation-NAKL1uDO li a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}
.navigation-NAKL1uDO li a:hover {
    text-decoration: underline;
}
.navigation-NAKL1uDO li:last-child {
    background: none;
}

.sub_box-yNw9RL3I {
    width: 1000px;
    margin: 0 auto;
}

.sub_nav-2uiN0d8V {
    padding-left: 5px
}

.sub_nav-2uiN0d8V li {
    display: inline-block;
    zoom: 1;
    +display: inline;
    background: url(https://x0.ifengimg.com/fe/shank/spring/spritesize47_w1000_h2000.bff33ce2.png) no-repeat -300px -88px;
    height: 38px;
    line-height: 38px;
    text-align: center;
}

.sub_nav-2uiN0d8V li a {
    font-size: 14px;
    color: #2b2b2b;
    text-decoration: none;
}

.sub_nav-2uiN0d8V li a:hover {
    color: #f54343;
}

.sub_nav-2uiN0d8V li:first-child {
    background: none !important;
}

.banner-2FOyePsh {
    width: 1000px;
    margin: 0 auto;
    height: 58px;
    padding-top: 20px;
    background: url(https://x0.ifengimg.com/fe/shank/spring/spritesize47_w1000_h2000.bff33ce2.png) no-repeat 0 -405px;
}

.list-2TAUnWE1 {
    float: left;
}

.item-2pdAZ0v2 {
    width: 250px;
    float: left;
}

.pic-30gq0kfc {
    position: relative;
    float: left;
    margin-right: 10px;
    width: 50px;
    height: 58px
}

.pic-30gq0kfc a {
    text-decoration: none;
}

.pic-30gq0kfc a img {
    width: 50px;
    height: 58px;
    display: block;
    border: 0;
    text-decoration: none;
}

.pic-30gq0kfc a div {
    width: 50px;
    height: 58px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(https://x0.ifengimg.com/fe/shank/spring/spritesize47_w1000_h2000.bff33ce2.png) no-repeat 0 -500px;
}

.content-1z3Y_oh7 {
    float: left;
    width: 180px
}

.content-1z3Y_oh7 h4 {
    font-weight: normal;
    font-size: 12px;
}

.content-1z3Y_oh7 h4 a {
    color: #004276;
    line-height: 26px;
    height: 26px;
    display: block;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.content-1z3Y_oh7 h4 a:hover {
    color: #f54343;
    text-decoration: underline;
}

.title-31m9JMuT {
    width: 180px
}

.title-31m9JMuT a {
    display: block;
    color: #2b2b2b;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.title-31m9JMuT a:hover {
    color: #f54343 !important;
}

.box-30wkVuOM {
    width: 1000px;
    margin: 0 auto;
}

.news_sider-27rktrh3 {
    float: left;
    width: 220px;
    padding-top: 8px;
}

.sider_box-zNIn8d7U {
    width: 188px;
    border: 1px solid #dedede;
    padding: 1px 15px 2px;
}

.box-3J7SXsmZ {
    border-top: 1px solid #dedede;
    padding-bottom: 13px
}

.box-3J7SXsmZ:first-child {
    border: none;
}

.newsSiderAd-2MgkC-jG {
    margin-top: 28px;
}

.title-1noClO6w {
    line-height: 24px;
    padding-top: 14px
}
.title-1noClO6w a {
    font-size: 14px;
    color: #2b2b2b;
    text-decoration: none;
}
.title-1noClO6w a:hover {
    color: #f54343;
}

.list-1CCaEebJ {
    margin-top: 4px
}

.list-1CCaEebJ dt {
    line-height: 24px;
    height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.list-1CCaEebJ dt a {
    color: #004276;
}

.list-1CCaEebJ dt a:hover {
    text-decoration: underline;
    color: #f54343;
}

.list-1CCaEebJ dd {
    color: #838383;
    line-height: 20px;
    padding: 4px 0 6px;
    height: 38px;
    overflow: hidden;
    display: block;
}

.video-Vu82y2EG {
    background: url(https://x0.ifengimg.com/fe/shank/spring/spritesize47_w1000_h2000.bff33ce2.png) no-repeat 0 -595px;
    padding-left: 18px;
}

.topic-2D9qUbmF {
    line-height: 30px !important;
    margin-top: 10px !important;
    height: 30px !important
}

.topic-2D9qUbmF a {
    font-size: 14px;
}

.pic_box-3qqQp1KU {
    height: 58px !important;
}

.pic-25STh04J {
    float: left;
    width: 75px;
    height: 52px;
    margin-top: 4px;
    margin-right: 10px;
    overflow: hidden
}

.pic-25STh04J img {
    width: 75px;
    height: 60px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.pic-25STh04J img:hover {
    -webkit-transform: scale(1.04, 1.04);
        -ms-transform: scale(1.04, 1.04);
            transform: scale(1.04, 1.04);
}

.jp-13JIM9ti {
    font-size: 13px !important;
    color: #004276 !important;
    float: right;
    line-height: 26px !important
}
.jp-13JIM9ti:hover {
    color: #004276 !important;
}

.jp_list-1bM6P288 li {
    width: 188px;
    height: 45px;
    padding: 8px 0 11px;
    background: url(https://x0.ifengimg.com/fe/shank/spring/dotline.cc375666.gif) repeat-x bottom left
}
.jp_list-1bM6P288 li > a {
    float: left;
    width: 75px;
    height: 42px;
    overflow: hidden;
    margin-top: 3px;
    display: block
}
.jp_list-1bM6P288 li > a img {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.jp_list-1bM6P288 li > a img:hover {
    -webkit-transform: scale(1.04, 1.04);
        -ms-transform: scale(1.04, 1.04);
            transform: scale(1.04, 1.04);
}
.jp_list-1bM6P288 li h5 {
    float: left;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    width: 103px;
    padding-left: 10px
}
.jp_list-1bM6P288 li h5 a {
    color: #004276;
}
.jp_list-1bM6P288 li h5 a:hover {
    text-decoration: underline;
    color: #f54343;
}

.donate-lJncHVkw {
    float: right
}
.donate-lJncHVkw img {
    width: 72px;
    height: 20px;
}


.news-1fEl0rQa {
    float: right;
    width: 756px;
}

.news_R-19la3l3x {
    float: right;
    width: 360px;
}

.ad_box-3A5sCRNW {
    margin-left: 6px;
    margin-top: 12px;
}

.fl-3-YlAWw- {
}

.fr-2UfCjN3u {
}

.ad-1hclWNU_ {
    padding-left: 6px;
    margin-top: 28px;
}

.news_box-3DciADcS {
    float: left;
    width: 390px;
}

.news_top-1tjVXPNV {
    padding-top: 18px;
    position: relative;
}

.news_top-1PMR_KNt {
    padding-top: 18px;
    position: relative;
}

.title_ad-2kUCtiXN {
    position: absolute;
    right: 25px;
    top: 29px;
    z-index: 999
}
.title_ad-2kUCtiXN a {
    color: #004276;
    font: bold 12px microsoft yahei;
    text-decoration: none;
}


.tabTitle-3eNozaAa {
    position: relative;
    padding-left: 19px;
    padding-top: 6px;
    padding-bottom: 4px;
    line-height: 24px;
}

.tabHead-2DwToffd {
    float: left
}

.tabHead-2DwToffd span {
    float: left;
    padding: 0 5px;
}

.tabHead-2DwToffd a {
    float: left;
    font-size: 12px;
    color: #2b2b2b;
    text-decoration: none;
    cursor: pointer;
}

.tabHead-2DwToffd a:hover {
    color: #f54343;
}

.tabBodyItemActive-2_zoZQRN {
    display: block;
}

.tabBodyItem-1Dq3ReEx {
    display: none;
}

.content_list-20FBfkSg {
    margin-top: 4px;
}

.news_list-3wjAJJJM {
    position: relative
}

.news_list-3wjAJJJM li {
    padding-left: 19px;
    background: url(https://x0.ifengimg.com/fe/shank/spring/spritesize47_w1000_h2000.bff33ce2.png) no-repeat 6px -687px;
    height: 28px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.news_list-3wjAJJJM li h1 {
    padding-left: 15px;
    line-height: 28px;
    font-weight: normal;
    font-size: 12px
}

.news_list-3wjAJJJM li h1 a {
    line-height: 28px;
    font-size: 20px;
    font-family: SimHei;
    color: #004276;
}

.news_list-3wjAJJJM li a {
    line-height: 28px;
    font-size: 14px;
    color: #004276;
}

.news_list-3wjAJJJM li a:hover {
    color: #f54343;
    text-decoration: underline;
}

.content_list-1Nu09n2r {
    position: relative
}

.content_list-1Nu09n2r li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.content_list-1Nu09n2r li a {
    font-size: 14px;
    color: #004276;
    line-height: 26px;
}

.content_list-1Nu09n2r li a:hover {
    color: #f54343;
}

.list-sH9EOaA1 {
    position: relative
}

.list-sH9EOaA1 li {
    height: 26px;
    padding-left: 19px;
    background: url(https://x0.ifengimg.com/fe/shank/spring/spritesize47_w1000_h2000.bff33ce2.png) no-repeat 6px -687px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.list-sH9EOaA1 li a {
    font-size: 14px;
    color: #004276;
    line-height: 26px;
}

.list-sH9EOaA1 li a:hover {
    color: #f54343;
}

.topic-21mlMS78 {
    background: none !important;
    padding-left: 0 !important;
    height: auto !important;
}

.video-2w22ayfc {
    background: url(https://x0.ifengimg.com/fe/shank/spring/spritesize47_w1000_h2000.bff33ce2.png) no-repeat 0 -593px !important;
    padding-left: 19px !important;
}

.bold-1_9fb0GT {
    font-weight: bold !important;
}

.zoujc-1H7bZ_qM {
    float: left;
    width: 63px;
    height: 18px;
    margin-top: 5px;
    margin-right: 4px;
    background: url(https://x0.ifengimg.com/fe/shank/spring/zoujc.2bf0f69e.png) no-repeat;
}

.cnRed-ZAqThTnh {
    color: #f54343 !important;
}

.list_title-36HUNFX9 {
    font-weight: normal;
    font-size: 12px;
    height: 26px;
    padding-left: 19px;
    background: url(https://x0.ifengimg.com/fe/shank/spring/spritesize47_w1000_h2000.bff33ce2.png) no-repeat 6px -679px;
    padding-top: 9px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}
.list_title-36HUNFX9 a {
    line-height: 26px;
    font-size: 14px;
    color: #004276;
    font-weight: bold;
}
.list_title-36HUNFX9 a:hover {
    color: #f54343;
}


.extra_list-1GWK6bLA {
    position: relative
}
.extra_list-1GWK6bLA li {
    padding-left: 19px;
    background: url(https://x0.ifengimg.com/fe/shank/spring/spritesize47_w1000_h2000.bff33ce2.png) no-repeat 6px -687px;
    height: 28px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}
.extra_list-1GWK6bLA li a {
    line-height: 28px;
    font-size: 14px;
    color: #004276;
}
.extra_list-1GWK6bLA li a:hover {
    color: #f54343;
    text-decoration: underline;
}

.ActionLeague-2J_as0kh {
    width: 366px;
    height: 112px;
    padding-top: 38px;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
    padding-left: 6px;
    border-top: 1px solid #dedede
}

.ActionLeague-2J_as0kh [ifeng_ui_pc_sliders-arrows_pre] {
    cursor: pointer;
    position: absolute;
    left: 55px !important;
    top: -26px;
    width: 14px;
    height: 14px;
    margin-top: 4px;
    background: url(https://x0.ifengimg.com/fe/shank/spring/spritesize47_w1000_h2000.bff33ce2.png) no-repeat 0 -800px !important;
    left: 87px;
    margin-left: 10px;
}

.ActionLeague-2J_as0kh [ifeng_ui_pc_sliders-arrows_next] {
    cursor: pointer;
    position: absolute;
    left: 143px !important;
    top: -26px;
    width: 14px;
    height: 14px;
    margin-top: 4px;
    background: url(https://x0.ifengimg.com/fe/shank/spring/spritesize47_w1000_h2000.bff33ce2.png) no-repeat -100px -800px !important;
    right: 172px;
}

.ActionLeague-2J_as0kh [ifeng_ui_pc_sliders-dots] {
    position: absolute;
    top: -18px;
    left: 89px;
}

.title-35LAyKtK {
    position: absolute;
    left: 19px;
    top: 12px;
    line-height: 22px
}

.title-35LAyKtK a {
    font-size: 14px;
    color: #2b2b2b;
}

.title-35LAyKtK a:hover {
    color: #f54343;
}

.slideItem-J4eJZR-s {
    float: left;
    width: 157px;
    position: relative;
    margin: 0 7px 0 13px;
    padding-top: 4px;
}

.imgWrap-1sZ59Zpf {
    width: 157px;
    height: 71px;
    overflow: hidden;
}

.img-1EPHX5hF {
    width: 157px;
    height: 71px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease
}

.img-1EPHX5hF:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}

.preLook-3os_c9Wi {
    position: absolute;
    right: 0;
    top: 4px;
    color: #fff;
    line-height: 18px;
    height: 18px;
    background: #999;
    padding: 0 12px;
}

.live-2pMLFUTE {
    background: #f54343;
}

.title_wrap-18dGvtGd {
    line-height: 16px;
    font-size: 12px;
    padding-top: 5px
}

.title_wrap-18dGvtGd a {
    text-decoration: none;
    color: #004276;
}

.title_wrap-18dGvtGd a:hover {
    cursor: pointer;
    color: #f54343;
    text-decoration: underline;
}

.dot-1BodLZqy {
    cursor: pointer;
    width: 6px !important;
    height: 6px !important;
    background: url(https://x0.ifengimg.com/fe/shank/spring/spritesize47_w1000_h2000.bff33ce2.png) no-repeat -400px -800px !important;
    margin-right: 7px !important;
    float: left !important;
}

.current-SpPLebmi {
    background-position: -500px -800px !important;
}

.wrap-178QtgJO {
    position: relative;
    margin-top: 24px;
    width: 360px;
    height: 249px;
    overflow: hidden;
}

.wrap-3KINPl_L {
    display: block;
    width: 370px;
    height: 30px
}

.wrap-3KINPl_L li {
    float: left;
    width: 39px !important;
    height: 28px !important;
    line-height: 30px;
    text-align: center;
    display: block;
    cursor: pointer;
    overflow: hidden;
    margin-right: 0 !important;
    border: 1px solid #dedede;
    border-right: none
}

.wrap-3KINPl_L li a {
    font-size: 100%;
    color: #333;
    text-decoration: none;
    width: 100%;
    display: block;
}

.wrap-3KINPl_L li:last-child {
    width: 38px !important;
    border-right: 1px solid #dedede;
}

.current-MhVeqUF7 {
    float: left;
    width: 38px !important;
    height: 38px !important;
    line-height: 30px;
    display: block;
    cursor: pointer;
    background: url(https://x0.ifengimg.com/fe/shank/spring/spritesize47_w1000_h2000.bff33ce2.png) no-repeat -500px -1600px !important ;
    text-align: center;
    overflow: hidden;
    margin-right: 0 !important;
    border: 1px solid #dedede;
    border-right: none
}

.current-MhVeqUF7:hover {
    opacity: 1 !important;
}

.current-MhVeqUF7 a {
    font-size: 100%;
    width: 100%;
    display: block;
    color: #fff !important;
    text-decoration: none;
}

.slideItem-De6D4JVC {
    position: relative;
}

.FosPicConTxt-3c3sDXpe {
    width: 360px;
    height: 32px;
    line-height: 32px;
    position: absolute;
    bottom: 2px;
    background-color: rgba(0, 0, 0, .6);
    color: #fff !important;
    text-indent: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.FosPicConTxtA-3OgSkNjD {
    color: #fff !important;
    font-size: 14px;
}

.arrow-3wX2MXcB {
    cursor: pointer;
    line-height: 24px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 2;
    top: 96px;
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
}

.arrow-3wX2MXcB:hover {
    text-decoration: none;
    color: #fff;
}

.pre-1Fw-TKwa {
    left: 8px;
}

.next-eDerXsic {
    right: 8px;
}

.none-33wFxmam {
    display: none;
}

.video_list-e2rIS6n- {
    padding-top: 5px;
}

.title-2JccdFmx {
    padding-top: 14px;
    border-bottom: 1px solid #dedede;
    line-height: 34px;
    height: 34px;
}

.title_box-3PzMAi5t {
    float: left
}

.title_box-3PzMAi5t a {
    margin-right: 6px;
    font-size: 14px;
    color: #2b2b2b;
    text-decoration: none;
}

.title_box-3PzMAi5t a:hover {
    color: #f54343;
}

.title_tg-2HLu2S1u {
    float: right;
    margin-top: 5px;
    height: 24px;
}

.content_title-2i5cY33_ {
    line-height: 40px;
    height: 40px;
    padding-top: 8px;
    font-weight: normal;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}
.content_title-2i5cY33_ a {
    font-size: 16px;
    font-weight: bold;
    color: #004276;
}
.content_title-2i5cY33_ a:hover {
    color: #f54343;
    text-decoration: underline;
}

.video_list-N6NRYqNF {
    margin-bottom: 4px;
}

.pic_list-1kvQ-oOM {
}

.video_pic-1dVc2vPq {
    position: relative;
    float: left;
    width: 120px;
    height: 92px;
    margin-top: 7px;
    margin-right: 14px;
    overflow: hidden
}

.video_pic-1dVc2vPq img {
    width: 120px;
    height: 92px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.video_pic-1dVc2vPq img:hover {
    -webkit-transform: scale(1.04, 1.04);
        -ms-transform: scale(1.04, 1.04);
            transform: scale(1.04, 1.04);
}

.pic-1ih7bHr7 {
    position: relative;
    float: left;
    width: 120px;
    height: 118px;
    margin-top: 7px;
    margin-right: 14px;
    overflow: hidden
}

.pic-1ih7bHr7 img {
    width: 120px;
    height: 118px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.pic-1ih7bHr7 img:hover {
    -webkit-transform: scale(1.04, 1.04);
        -ms-transform: scale(1.04, 1.04);
            transform: scale(1.04, 1.04);
}

.play_btn-1SniqVAa {
    background: url(https://x0.ifengimg.com/fe/shank/spring/spritesize47_w1000_h2000.bff33ce2.png) 0 -900px;
    position: absolute;
    top: 44px;
    left: 95px;
    width: 20px;
    height: 21px
}

.play_btn-1SniqVAa a {
    width: 20px;
    height: 21px;
    display: block;
}

.txt_bg-1cvR8d7J {
    width: 120px;
    height: 22px;
    background: #000;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 0;
}

.txt-3ZeUyyLE {
    width: 110px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 5px;
    overflow: hidden
}

.txt-3ZeUyyLE a {
    color: #fff;
}

.list-3XTqcM0P {
    float: left;
    width: 226px;
}

.box-17uNhnoq {
    width: 1000px;
    margin: 0 auto;
}

.sider_box-2Okrlnim {
    float: left;
    width: 220px;
    padding-right: 30px;
}

.stock_box-rXMcCvJS {
    margin-top: 16px;
}

.sider_list-3393I5F5 {
    padding: 10px 0 22px;
}

.title-1LJf2-XR {
    border-bottom: 2px solid #999;
    line-height: 28px;
    padding-top: 25px
}
.title-1LJf2-XR a {
    font-size: 14px;
    color: #2b2b2b;
    margin-right: 10px;
    text-decoration: none;
}
.title-1LJf2-XR a:hover {
    color: #f54343;
}

.stock-2zqqbAJM {
    float: left;
}

.stock_info-3FJgsdTk {
    float: right
}

.stock_info-3FJgsdTk a {
    color: #000 !important;
}

.price-3pf-XK6d {
    font-family: Arial;
    font-size: 20px;
    padding: 11px 0 7px;
}

.red-mUAGKDyu {
    color: #f54343;
}

.green-1_UxDuP7 {
    color: #017f01;
}

.black-3orZ6Gij {
    color: #222;
}

.stock_search-3S2EO-wI {
    margin-top: 12px
}

.stock_search-3S2EO-wI a {
    width: 58px;
    height: 19px;
    border: 1px solid #e6e6e6;
    background: #f6f6f6;
    display: block;
    float: left;
    line-height: 19px;
    text-align: center;
    color: #004276;
    margin-left: 2px;
    cursor: pointer;
    text-decoration: none;
}

.text-2-Ut2SB0 {
    float: left;
    color: #a0a0a0;
    border: 1px solid #e6e6e6;
    width: 96px;
    height: 19px;
    text-indent: 5px;
    line-height: 20px;
}

.btn-1c6qU1io {
    float: left;
    width: 56px;
    height: 21px;
    border: 1px solid #e6e6e6;
    border-left: none;
    background: #f6f6f6;
    text-indent: 5px;
    line-height: 19px;
    text-align: center;
    color: #004276;
    cursor: pointer;
}

.editor_box-3XoPYU1j {
    width: 220px;
    height: 180px;
    position: relative;
    overflow: hidden
}

.editor_box-3XoPYU1j a {
    color: #fff;
}

.short_title_bg-2q8OTDTJ {
    background: #225bb4;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
    width: 55px;
    height: 22px;
    position: absolute;
    top: 120px;
    left: 0;
}

.short_title-kaCkUEQB {
    width: 55px;
    height: 22px;
    line-height: 22px;
    position: absolute;
    top: 120px;
    left: 0;
    text-indent: 10px;
}

.long_title_bg-253h4p_Q {
    background: #333;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
    width: 187px;
    height: 22px;
    position: absolute;
    top: 143px;
    left: 0;
}

.long_title-1BxnX_-- {
    width: 187px;
    height: 22px;
    line-height: 22px;
    position: absolute;
    top: 143px;
    left: 0;
    text-indent: 10px;
}

.box-mpiX0E2D {
    width: 750px;
    float: right;
}

.financeAndPeAd-3WFayMvB {
    margin-top: 24px;
}

.finance_box-2yAjIUsY {
    width: 360px;
    float: left;
    padding-right: 30px;
}

.topic-3T9puyH6 {
    position: relative;
    background: url(https://x0.ifengimg.com/fe/shank/spring/spritesize47_w1000_h2000.bff33ce2.png) no-repeat 0 -1046px;
    line-height: 38px;
    padding-top: 18px;
    font-size: 16px;
    font-weight: bold;
    color: #2b2b2b
}

.topic-3T9puyH6 a {
    font-size: 16px;
    font-weight: bold;
    color: #2b2b2b;
}

.topic-3T9puyH6 a:hover {
    color: #f54343;
}

.more-2K_IXZdX {
    position: absolute;
    right: 0;
}

.tag-WkvlDfAn {
    position: absolute;
    background: url(https://x0.ifengimg.com/fe/shank/spring/icon_new.ef25440b.gif) no-repeat left center;
    width: 22px;
    height: 7px;
    top: 29px;
    left: 86px;
}

.pe_box-I0T9wtTK {
    width: 360px;
    float: right;
}

.box-3CtuYPRB {
    width: 1000px;
    margin: 0 auto;
}

.sider_box-3D8aXFR4 {
    float: left;
    width: 220px;
    padding-right: 30px;
}

.stock_box-28wqt67c {
    margin-top: 16px;
}

.sider_list-34aE0AnP {
    padding: 14px 0 22px;
}

.auto_title-2IuO-gez {
    width: 220px;
    overflow: hidden;
    padding: 14px 0 8px
}
.auto_title-2IuO-gez ul {
    width: 240px
}
.auto_title-2IuO-gez ul li {
    float: left;
    width: 57px;
    line-height: 24px;
    height: 24px
}
.auto_title-2IuO-gez ul li a {
    color: #004276;
}
.auto_title-2IuO-gez ul li a:hover {
    color: #f54343;
}

.auto_list-22aa21qx {
    width: 220px;
    overflow: hidden
}
.auto_list-22aa21qx ul {
    width: 240px
}
.auto_list-22aa21qx ul li {
    float: left;
    width: 56px;
    padding-bottom: 4px
}
.auto_list-22aa21qx ul li p {
    color: #6c6c6c;
    text-align: center;
    line-height: 20px;
}
.auto_list-22aa21qx ul li a {
    width: 49px;
    height: 29px;
    border: 1px solid #dfdfdf;
    display: block;
}
.auto_list-22aa21qx ul li a:hover {
    border: 1px solid #e90500;
}

.auto_btn-QnhOlI8N {
    margin-top: 4px;
    margin-bottom: 12px
}

.auto_btn-QnhOlI8N a {
    color: #004276;
    line-height: 21px;
}

.auto_btn-QnhOlI8N a:hover {
    color: #f54343;
}

.btn0-3b0x4Q9E {
    float: left;
    background: url(https://x0.ifengimg.com/fe/shank/spring/spritesize47_w1000_h2000.bff33ce2.png) no-repeat 0 -1200px;
    width: 79px;
    height: 21px;
    padding-left: 28px;
}

.btn1-10-F4o4K {
    float: right;
    background: url(https://x0.ifengimg.com/fe/shank/spring/spritesize47_w1000_h2000.bff33ce2.png) no-repeat -200px -1200px;
    width: 79px;
    height: 21px;
    padding-left: 28px;
}

.auto_search-8BA-rsFl {
    width: 218px;
    height: 20px;
    padding: 0 0 15px 2px;
    position: relative;
    z-index: 80;
    margin-right: 0;
    background: url(http://p1.ifengimg.com/ifeng/ifeng-index/20160122/sprite.png) no-repeat -400px -1900px
}

.auto_search-8BA-rsFl span {
    float: left;
    cursor: pointer;
}

.txt-nyXHcw9c {
    width: 192px;
    height: 16px;
    line-height: 16px;
    padding: 0 0 0 4px;
    margin-top: 2px;
    background: #fff;
    border: none;
    color: rgb(153, 153, 153);
    font-size: 12px;
}

.btn-3sxZmARa {
    width: 22px;
    height: 20px;
    cursor: pointer;
    border: none;
    background: none;
}

.box-3UPIdfRV {
    width: 750px;
    float: right;
}

.ad_box-vdTDYOJl {
    margin-top: 16px;
}

.fl-1d1x8OnM {
}

.fr-3jFLz_pk {
}

.ad-7XY48bIk {
    margin-top: 33px;
}

.auto_box-3jYt6hkD {
    width: 360px;
    float: left;
    padding-right: 30px;
}

.car_city-CNzfwkjL ul li {
    height: 26px;
    padding-left: 19px;
    background: url(https://x0.ifengimg.com/fe/shank/spring/spritesize47_w1000_h2000.bff33ce2.png) no-repeat 6px -687px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}
.car_city-CNzfwkjL ul li a {
    line-height: 26px;
    font-size: 14px;
    color: #004276;
}
.car_city-CNzfwkjL ul li a:hover {
    color: #f54343;
    text-decoration: underline;
}

.ent_box-3izDCY_3 {
    width: 360px;
    float: right;
}

.hide-2AnmZ1-g {
    display: none;
}

.news_box-2tVwbQ7r {
    position: relative;
}

.box-19XkIEpF {
    position: relative;
    width: 170px;
    height: 118px;
    margin-top: 15px;
    overflow: hidden
}

.box-19XkIEpF img {
    position: absolute;
    top: 0;
    left: 0;
    width: 170px;
    height: 118px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.box-19XkIEpF img:hover {
    -webkit-transform: scale(1.04, 1.04);
        -ms-transform: scale(1.04, 1.04);
            transform: scale(1.04, 1.04);
}

.box_l-3ZDeWmZm {
    float: left;
}

.box_r-31kE_Iy9 {
    float: right;
}

.btn-3rPbbip1 {
    position: absolute;
    left: 145px;
    top: 70px;
    width: 20px;
    height: 21px;
    background: url(https://x0.ifengimg.com/fe/shank/spring/spritesize47_w1000_h2000.bff33ce2.png) 0 -900px
}

.btn-3rPbbip1 a {
    width: 20px;
    height: 21px;
    display: block;
}

.txt_bg-38vuscdT {
    width: 170px;
    height: 22px;
    background: #000;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
    position: absolute;
    top: 96px;
    left: 0;
}

.txt-2vuKQEmE {
    width: 160px;
    height: 22px;
    line-height: 22px;
    _line-height: 24px;
    text-align: center;
    position: absolute;
    top: 96px;
    left: 0;
    padding: 0 5px;
    overflow: hidden
}

.txt-2vuKQEmE a {
    color: #fff;
}

.box-zX3kN04_ {
    width: 1000px;
    margin: 0 auto;
}

.sider_box-1eKNdVgQ {
    float: left;
    width: 220px;
    padding-right: 30px;
}

.sider-2DsdK3Zd {
    padding-bottom: 13px;
}

.stock_box-WKzq0FfW {
    margin-top: 16px;
}

.sider_list-3R4HQ9jM {
    padding: 14px 0 22px;
}

.tabs-3vTRwRoC {
    width: 220px;
    height: 118px;
    border-bottom: 1px solid #dedede;
}

.tabHead-3WCDrHgl {
    background: url(https://x0.ifengimg.com/fe/shank/spring/spritesize47_w1000_h2000.bff33ce2.png) no-repeat -200px -1500px;
}

.tabHeadItem-3Jyjv1RI {
    width: 110px;
    height: 27px;
    text-align: center;
    cursor: pointer;
    float: left
}

.tabHeadItem-3Jyjv1RI a {
    font-size: 14px;
    color: #282828;
    line-height: 28px;
}

.tabHeadItem-3Jyjv1RI a:hover {
    color: #f54343;
}

.current-2Tk3ZwbH {
    background: url(https://x0.ifengimg.com/fe/shank/spring/spritesize47_w1000_h2000.bff33ce2.png) no-repeat 0 -1500px;
}

.tabBodyItemActive-2-fk2TaV {
    display: block;
}

.tabBodyItem-2X8IRw01 {
    display: none;
}

.tab_content-1oA6sbgL {
    padding-top: 10px
}

.tab_content-1oA6sbgL ul li {
    height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.tab_content-1oA6sbgL ul li a {
    color: #004276;
    line-height: 24px;
}

.tab_content-1oA6sbgL ul li a:hover {
    color: #f54343;
}

.content-3HCGiTSh {
    float: left;
    margin: 6px 10px 0 0;
    width: 75px;
    height: 60px;
    overflow: hidden
}

.content-3HCGiTSh img {
    width: 75px;
    height: 60px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.content-3HCGiTSh img:hover {
    -webkit-transform: scale(1.04, 1.04);
        -ms-transform: scale(1.04, 1.04);
            transform: scale(1.04, 1.04);
}

.box-3bhTcEVS {
    width: 750px;
    float: right;
}

.history_box-OFqkECes {
    width: 360px;
    float: left;
    padding-right: 30px;
}

.game_box-3_yMT4uc {
    width: 360px;
    float: right;
}

.box-1kHdScFH {
    width: 1000px;
    margin: 0 auto;
}

.sider_box-2937j3Lg {
    float: left;
    width: 220px;
    padding-right: 30px;
}

.sider-1gCgGm2A {
    height: 510px;
    padding-top: 28px;
    overflow: hidden;
}

.ipad_sider-2EFbTe5c {
    height: 390px;
    padding-top: 29px;
    overflow: hidden;
}

.box-2pIRmeww {
    width: 750px;
    float: right;
}

.ad-2qukkpgX {
    margin-top: 23px;
}

.home_box-3qj6mYVy {
    width: 360px;
    float: left;
    padding-right: 30px;
}

.area_list-2vU2XoCL {
    position: relative
}
.area_list-2vU2XoCL li {
    height: 26px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}
.area_list-2vU2XoCL li a {
    line-height: 26px;
    font-size: 14px;
    color: #004276;
}
.area_list-2vU2XoCL li a:hover {
    color: #f54343;
    text-decoration: underline;
}
.area_list-2vU2XoCL > ul > li {
    padding-left: 19px;
    background: url(https://x0.ifengimg.com/fe/shank/spring/spritesize47_w1000_h2000.bff33ce2.png) no-repeat 6px -687px;
}
.area_list-2vU2XoCL h2 {
    line-height: 40px;
    height: 40px;
    padding-top: 8px;
    font-weight: normal;
    font-size: 12px
}
.area_list-2vU2XoCL h2 a {
    font-size: 16px;
    font-weight: bold;
    color: #004276;
}
.area_list-2vU2XoCL h2 a:hover {
    color: #f54343;
    text-decoration: underline;
}

.food_box-2XJB33yA {
    width: 360px;
    float: right;
}

.box-1iMKnJa6 {
    width: 1000px;
    margin: 0 auto;
}

.sider_box-1rqSg_o9 {
    float: left;
    width: 220px;
    padding-right: 30px;
}

.sider-HivAmDdv {
    padding-bottom: 13px;
}

.stock_box-Y8duuIN6 {
    margin-top: 16px;
}

.sider_list-2qtBR7K4 {
    padding: 14px 0 22px;
}

.sider-RfiIMCdu {
    position: relative;
}

.box-AM5KiEiC {
    width: 750px;
    float: right;
}

.ad_box-RZgJ3CCU {
    margin-top: 16px;
}

.fl-2DWlmLVm {
}

.fr-1FQ8sgm5 {
}

.ad-H8PIhc_2 {
    margin-top: 33px;
}

.pit_box-1Xp9yN1A {
    width: 360px;
    float: left;
    padding-right: 30px;
}

.book_box-2d0Gg4oz {
    width: 360px;
    float: right;
}

.box-2QDDta3F {
    width: 1000px;
    margin: 0 auto;
}

.sider_box-3Oh4GPL6 {
    float: left;
    width: 220px;
    padding-right: 30px;
}

.sider-GhmxI9ob {
    padding-bottom: 13px;
}

.stock_box-2DFo6BeQ {
    margin-top: 16px;
}

.sider_list-hBzoD7hc {
    padding: 14px 0 22px;
}


.box-Tvp4PxPJ {
    width: 750px;
    float: right;
}

.ad-3fzmf0s0 {
    margin-top: 23px;
}

.fashion_box-1FLdHBNm {
    width: 360px;
    float: left;
    padding-right: 30px;
}

.travel_box-1aVdZF-w {
    width: 360px;
    float: right;
}

.box-3y0ZMGe3 {
    width: 1000px;
    margin: 0 auto;
}

.sider_box-204RXoAK {
    float: left;
    width: 220px;
    padding-right: 30px;
}

.sider-1t34urNN {
    padding-bottom: 13px;
}

.stock_box-35ip9KuN {
    margin-top: 16px;
}

.sider_list-2RDLJ2pm {
    padding: 14px 0 22px;
}


.box-18IOROxd {
    width: 750px;
    float: right;
}

.ad_box-170uiJCI {
    margin-top: 23px;
}

.fl-11hywVDh {
}

.fr-3DBrToGP {
}

.tech_box-220t-4IT {
    width: 360px;
    float: left;
    padding-right: 30px;
}

.guoxue_box-1GC1TSkM {
    width: 360px;
    float: right;
}

.box-1asbbvfl {
    width: 1000px;
    margin: 0 auto;
}

.sider_box-3IsutpHr {
    float: left;
    width: 220px;
    padding-right: 30px;
}

.sider-MbzgrDx7 {
    height: 510px;
    padding-top: 28px;
    overflow: hidden;
}

.ipad_sider-1PQxqNAx {
    height: 390px;
    padding-top: 29px;
    overflow: hidden;
}

.box-NrH4uX71 {
    width: 750px;
    float: right;
}

.ad-1EQznkpv {
    margin-top: 23px;
}

.digital_box-15ZV5ttQ {
    width: 360px;
    float: left;
    padding-right: 30px;
}

.fo_box-1O7B-tyN {
    width: 360px;
    float: right;
}

.box-2iZ7-ou_ {
    width: 1000px;
    margin: 0 auto;
}

.sider_box-3LCMCWIN {
    float: left;
    width: 220px;
    padding-right: 30px;
}

.sider-22IMDRP- {
    padding-bottom: 13px;
}

.stock_box-2sZKXtCw {
    margin-top: 16px;
}

.sider_list-XtzVNWg0 {
    padding: 14px 0 22px;
}


.box-39yF9uRq {
    width: 750px;
    float: right;
}

.ad-1XU6S-2V {
    margin-top: 23px;
}

.ffh_box-1fzs1oAW {
    width: 360px;
    float: left;
    padding-right: 30px;
}

.fiction_box-OFAFrmW0 {
    width: 360px;
    float: right;
}

.box-1ouVGFFT {
    width: 1000px;
    margin: 0 auto;
}

.sider_box-2Raw2zR7 {
    float: left;
    width: 220px;
    padding-right: 30px;
}

.sider-19Sx6vgv {
    padding-bottom: 13px;
}

.stock_box-c2FS0wiS {
    margin-top: 16px;
}

.sider_list-38IO1RaP {
    padding: 14px 0 22px;
}

.title-1HKGj4Rz {
    font-size: 14px;
    color: #333;
    line-height: 24px;
    margin-top: 12px;
}

.box-h-N7S5NR {
    width: 750px;
    float: right;
}

.ad-3oH9r-Dc {
    margin-top: 23px;
}

.vip_box-2vt09NS4 {
    width: 360px;
    float: left;
    padding-right: 30px;
}

.fl-bKFRNnPf {
    float: left;
}

.fr-3C9PTUrE {
    float: right;
}

.shop_box-3PT5u6Kj {
    width: 360px;
    float: right;
}


.qrCode-dYhwxVY8 {
    position: fixed;
    display: block;
    top: 350px;
    right: 0;
    width: 120px;
    height: 185px;
    z-index: 100;
    background-color: #fff
}

.qrCode-dYhwxVY8 img {
    float: left;
    display: block;
}

.close-2nOnrzen {
    float: left;
    color: #999;
    cursor: pointer;
    height: 18px;
    line-height: 18px;
    padding-left: 4px;
}

.floatAd-37oYXiAT {
    display: none;
}

.top_img-2XDidKGL {
    width: 1000px;
    margin: 0 auto;
    height: 63px;
    position: relative;
}

.closed-3ufh3pih {
    position: absolute;
    top: 27px;
    right: 0;
    z-index: 10;
    width: 36px;
    height: 12px;
    cursor: pointer;
    background: url(https://x0.ifengimg.com/fe/shank/spring/close.25bb9f18.gif);
}

.a_link-OCpqrp9M {
    display: block;
    width: 1000px;
    height: 45px;
    top: 0;
    position: absolute;
    left: 0;
}

.content_list--2gqytsD {
    position: absolute;
    top: 150px;
    left: 0;
    z-index: -1;
}

.chip_item-c6g-eZ80 {
    width: 200px;
    height: 25px;
}


img{
    width: 200px;
    height: 200px;
}