li.active{
    list-style: none;
    float: left;
    color: black;

}


li.active:hover{
    list-style: none;
    float: left;
    color: red;
}

li.enabled{
    list-style: none;
    float: left;
}
.sr-only{
    color: red;
    


}